@import '../styles/vars'
@import '../styles/fonts'

*
  font-family: 'Inter', sans-serif
  font-style: normal
  font-size: 12px
  font-weight: 400
  padding: 0
  margin: 0
  box-sizing: border-box
  width: auto
  text-decoration: none
  list-style-type: none
  max-width: 100%
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:focus
    outline: none!important
  a
    color: $gray
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0


.input
  display: flex
  input
    width: 263px
    height: 50px
    display: block
    padding: 9px 45px 9px 20px
    border: 0
    border-radius: 50px
    background-color: $background

    &::placeholder
      color: #bbb
  button
    height: 100%
    border: 0
    border-radius: 50px
    position: relative
    background-color: $yellow




.btn__text
  cursor: pointer
  font-weight: 700
  font-family: Helvetica,"sans-serif"
  transition: all .2s
  padding: 20px 30px
  span
    color: $white
  border-radius: 100px
  background: $yellow
  border: 1px solid transparent
  display: flex
  align-items: center
  font-size: 15px
  &:hover
    background: adjust-hue($yellow, 3deg)
    svg
      transform: translateX(5px)
  svg
    width: 34px
    margin-left: 10px
    transition: transform .3s ease-in-out
  &:active
    transform: scale(0.95)



//.btn
//  font-weight: 700
//  font-size: 14px
//  white-space: nowrap
//  img
//    background-color: $yellow
//  color: $white
//  background-color: $yellow
//  border: 0
//  border-radius: 50px
//  cursor: pointer
//  display: flex
//  flex-direction: row
//  justify-content: space-evenly
//  align-items: center
//  &__text
//    display: flex
//    justify-content: space-between
//    padding: 20px 40px
//    p
//      color: $white
//      margin-right: 7px
//    img
//      margin-left: 20px
//      min-width: 100%
//
//  &__img
//    img
//      height: 14px
//      width: 14px
//    height: 39px
//    width: 39px
//    display: flex
//    align-items: center
//
.btn__cart
  cursor: pointer
  display: flex
  border: 0
  background-color: $white
  .btn__indicator
    border-radius: 50px
    display: flex
    flex-direction: row
    justify-content: center
    background-color: $yellow
    color: $white
    position: relative
    margin-top: -8px
    margin-left: -15px
    padding: 12px
    width: 10px
    height: 10px

.vl
  display: flex
  margin-top: 7px
  border-left: 2px dotted rgba($gray, 0.1)
  height: 30px
.hl
  display: flex
  margin-top: 7px
  border-top: 2px dotted rgba($gray, 0.1)
  width: 80%
