@import '../styles/vars'
@import '../styles/fonts'

*
  font-family: 'Inter', sans-serif
  font-style: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit
  padding: 0
  margin: 0
  box-sizing: border-box
  text-decoration: none
  list-style-type: none
  max-width: 100%
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  //-webkit-user-select: none
  //-moz-user-select: none
  //-ms-user-select: none
  //user-select: none
  &:focus
    outline: none!important
  a
    color: inherit
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  input[type=search]::-ms-clear
    display: none
    width : 0
    height: 0
  input[type=search]::-ms-reveal
    display: none
    width : 0
    height: 0
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration
    display: none
svg
  min-width: 4px
  min-height: 4px
  path
    fill: child

.col
  display: flex
  flex-direction: column

.row
  display: flex
  flex-direction: row
  @media (max-width: $mobile)
    flex-direction: column

.amount
  cursor: pointer
  margin: 0 15px
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%)
  border-radius: 10px
  border: 0
  width: 34px
  height: 23px
  font-weight: 300
  font-size: 12px
  line-height: 15px
  color: $gray
  &__value
    display: flex
    align-items: center
    justify-content: center

.input
  display: flex
  input
    width: 263px
    height: 50px
    display: block
    padding: 9px 45px 9px 20px
    border: 0
    border-radius: 50px
    background-color: $background

    &::placeholder
      color: #bbb
  button
    height: 100%
    border: 0
    border-radius: 50px
    position: relative
    background-color: $yellow

img
  min-height: 50px!important
  min-width: 50px!important
  overflow: scroll

.btn__text
  color: $white
  font-size: 0.8em
  cursor: pointer
  font-weight: 700
  transition: all .2s
  white-space: nowrap
  padding: 10px
  span
    color: $white
    margin: 10px
  border-radius: 80px
  background: $yellow
  border: 0
  display: flex
  align-items: center
  &:hover
    background: adjust-hue($yellow, 3deg)
    svg
      transform: translateX(5px)
  svg
    min-width: 15px
    min-height: 15px
    margin: 10px
    transition: transform .3s ease-in-out
  &:active
    transform: scale(0.95)

.btn__img
  margin: 10px
  padding: 10px
  cursor: pointer!important
  border: 0
  border-radius: 50%
  display: flex
  background-color: $yellow
  height: 39px
  width: 39px
  align-items: center
  justify-content: center
  img
    min-height: 12px
    min-width: 12px

.btn__cart
  cursor: pointer
  display: flex
  border: 0
  background-color: $white

.btn__indicator
  border-radius: 50px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background-color: $yellow
  color: $white
  position: relative
  margin-top: -7px
  margin-left: -12px
  padding: 12px
  width: 10px
  height: 10px

select
  border: 0
  background-color: rgba($yellow, 0.2)
  p
    color: $gray
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 150%

.vl
  display: flex
  margin-top: 7px
  border-left: 2px dotted rgba($gray, 0.1)
  height: 30px
.hl
  display: flex
  margin-top: 7px
  border-top: 2px dotted rgba($gray, 0.1)
  width: 80%

.mobile
  display: none
  @media (max-width: $mobile)
    display: inherit

.pc
  display: inherit
  @media (max-width: $mobile)
    display: none
