

$accent: #D4B098
$yellow: #FFC85E
$white: #FFFFFF
$background: #E5E5E5
$gray: #3F4E65
$black: #111111
$red: #D81F1F
$lightblue: #6DAEEA
$purple: #D06EFE
$turquoise: #1FD8CD
$transparent: rgba(0,0,0,0)

*
  font-family: 'Inter', sans-serif
  font-style: normal
  font-size: 12px
  font-weight: 400
  padding: 0
  margin: 0
  box-sizing: border-box
  width: auto
  text-decoration: none
  list-style-type: none
  max-width: 100%
