@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
* {
  font-family: "Inter", sans-serif;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*:focus {
  outline: none !important;
}
* a {
  color: inherit;
}
* input::-webkit-outer-spin-button, * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}

svg {
  min-width: 4px;
  min-height: 4px;
}
svg path {
  fill: child;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 950px) {
  .row {
    flex-direction: column;
  }
}

.amount {
  cursor: pointer;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 10px;
  border: 0;
  width: 34px;
  height: 23px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3F4E65;
}
.amount__value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
}
.input input {
  width: 263px;
  height: 50px;
  display: block;
  padding: 9px 45px 9px 20px;
  border: 0;
  border-radius: 50px;
  background-color: #E5E5E5;
}
.input input::placeholder {
  color: #bbb;
}
.input button {
  height: 100%;
  border: 0;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 200, 94, 0.96);
}

img {
  min-height: 50px !important;
  min-width: 50px !important;
  overflow: scroll;
}

.btn__text {
  color: #FFFFFF;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  white-space: nowrap;
  padding: 10px;
  border-radius: 80px;
  background: rgba(255, 200, 94, 0.96);
  border: 0;
  display: flex;
  align-items: center;
}
.btn__text span {
  color: #FFFFFF;
  margin: 10px;
}
.btn__text:hover {
  background: rgba(255, 208, 94, 0.96);
}
.btn__text:hover svg {
  transform: translateX(5px);
}
.btn__text svg {
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.btn__text:active {
  transform: scale(0.95);
}

.btn__img {
  margin: 10px;
  padding: 10px;
  cursor: pointer !important;
  border: 0;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 200, 94, 0.96);
  height: 39px;
  width: 39px;
  align-items: center;
  justify-content: center;
}
.btn__img img {
  min-height: 12px;
  min-width: 12px;
}

.btn__cart {
  cursor: pointer;
  display: flex;
  border: 0;
  background-color: #FFFFFF;
}

.btn__indicator {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 200, 94, 0.96);
  color: #FFFFFF;
  position: relative;
  margin-top: -7px;
  margin-left: -12px;
  padding: 12px;
  width: 10px;
  height: 10px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.breadcrumbs .vl {
  height: 15px;
  margin: 0 13px;
}
.breadcrumbs .breadcrumb {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 120%;
  color: #3F4E65;
}
.breadcrumbs .active {
  color: rgba(63, 78, 101, 0.5);
}
@media (max-width: 950px) {
  .breadcrumbs .breadcrumb {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  .breadcrumbs .breadcrumb span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    margin-left: 10px;
  }
  .breadcrumbs .breadcrumb .arrow {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 200, 94, 0.2);
  }
  .breadcrumbs .breadcrumb .arrow svg {
    width: 10px;
    height: 10px;
  }
  .breadcrumbs .breadcrumb .arrow svg path {
    fill: #3F4E65;
  }
}

.vl {
  display: flex;
  margin-top: 7px;
  border-left: 2px dotted rgba(63, 78, 101, 0.1);
  height: 30px;
}

.hl {
  display: flex;
  margin-top: 7px;
  border-top: 2px dotted rgba(63, 78, 101, 0.1);
  width: 80%;
}

.mobile {
  display: none;
}
@media (max-width: 950px) {
  .mobile {
    display: inherit;
  }
}

.pc {
  display: inherit;
}
@media (max-width: 950px) {
  .pc {
    display: none;
  }
}

.burger {
  display: none;
  font-size: 2rem;
}
@media (max-width: 950px) {
  .burger {
    background-color: #FFFFFF;
    position: fixed;
    overflow-x: hidden;
    z-index: 5;
    height: 75vh;
    width: 100%;
    padding: 0 14vw;
    box-shadow: 0 350px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }
  .burger__row {
    color: #3F4E65;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    margin: 0 20px;
    font-size: 1rem;
    line-height: 18px;
  }
  .burger__row svg {
    min-height: 14px;
    min-width: 14px;
    margin: 10px;
  }
  .burger__row svg path {
    stroke: black;
  }
  .burger__row p {
    padding: 0 10px;
    color: #3F4E65;
  }
  .burger__row strong {
    color: #111111;
    font-weight: 600;
  }
  .burger__row a {
    text-decoration: underline;
    color: #3F4E65;
  }
  .burger__row .btn__img {
    width: 30px;
    height: 30px;
  }
  .burger__col {
    display: flex;
    flex-direction: column;
  }
  .burger h2 {
    margin: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 150%;
  }
  .burger__navs {
    display: flex;
    flex-direction: column;
  }
  .burger__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  .burger__nav.admin {
    background-color: rgba(255, 200, 94, 0.3);
  }
  .burger__nav a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }
  .burger .btn__text {
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
  }
  .burger .btn__img svg path {
    stroke: none;
  }
}

.header__mobile {
  display: none;
}
@media (max-width: 950px) {
  .header__mobile {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    z-index: 4;
  }
  .header__mobile .bottom {
    display: flex;
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
    border-top: 1px solid rgba(63, 78, 101, 0.2);
  }
  .header__mobile__call {
    display: none;
  }
  .header__mobile .nav {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    align-items: center;
  }
  .header__mobile .main_logo {
    padding: 0 10px;
  }
  .header__mobile .menu__open {
    margin-right: 30px;
    display: flex;
    background-color: rgba(255, 200, 94, 0.96);
    align-items: center;
    border: 0;
    border-radius: 50px;
    padding: 15px;
  }
  .header__mobile .cart {
    margin-left: 25px;
  }
  .header__mobile .cart img {
    width: 20px;
  }
  .header__mobile .mobile {
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
    color: #3F4E65;
    display: flex !important;
    align-items: stretch;
    justify-content: center;
  }
  .header__mobile .mobile hr {
    width: 30px;
    height: 0;
    rotate: 90deg;
    border: 1px dotted rgba(63, 78, 101, 0.1);
  }
  .header__mobile .mobile__img {
    min-width: 15px;
  }
  .header__mobile .mobile__img g {
    fill: #FFFFFF;
  }
  .header__mobile .mobile__img path {
    stroke: #3F4E65;
    stroke-width: 1px;
  }
  .header__mobile .mobile .vl {
    display: flex;
    margin-top: 7px;
    border-left: 1px dotted rgba(63, 78, 101, 0.1);
    height: 30px;
  }
  .header__mobile .mobile__link {
    display: flex;
    align-items: center;
    padding: 13px 20px;
  }
  .header__mobile .mobile__link p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 150%;
    margin-left: 10px;
  }
  .header__mobile .mobile__btn {
    justify-content: center;
    width: 100%;
    color: #3F4E65;
    display: flex;
    align-items: center;
  }
  .header__mobile .mobile__btn img {
    width: 30px;
  }
}

.header__pc {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 130.02%;
  overflow: hidden;
  max-width: 100%;
  background-color: #FFFFFF;
}
.header__pc img {
  min-width: 100%;
}
.header__pc .cart {
  display: flex;
  flex-direction: row;
}
.header__pc .menu__open {
  display: none;
  cursor: pointer;
}
.header__pc .head {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 130.02%;
  padding: 0 14vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #111111;
}
.header__pc .head p {
  color: #3F4E65;
  font-weight: 400;
  font-size: 0.7rem;
}
.header__pc .admin {
  background-color: rgba(255, 200, 94, 0.2);
}
.header__pc a:visited {
  color: inherit;
}
.header__pc .col a {
  font-weight: 300;
  font-size: 1rem;
  color: #3F4E65;
}
.header__pc .call {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  line-height: 130%;
  font-weight: 400;
  color: #3F4E65;
}
.header__pc .call p {
  color: #3F4E65;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 150%;
}
.header__pc .call a {
  font-size: 0.8rem;
  line-height: 150%;
  cursor: pointer;
  text-decoration: underline;
}
.header__pc .call strong {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
}
.header__pc li a, .header__pc strong p, .header__pc li a:visited {
  color: #3F4E65;
}
.header__pc .btn__text {
  padding: 10px 15px;
}
.header__pc strong {
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 130%;
}
.header__pc .contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
}
.header__pc .contact__container p {
  padding: 0 10px;
}
.header__pc .contact__container svg {
  min-width: 14px;
  min-height: 14px;
}
.header__pc .input {
  font-weight: 400;
}
.header__pc .input button {
  padding: 8px;
  width: 34px;
  margin-top: -42px;
  margin-left: 217px;
  min-width: 10px;
}
.header__pc .input button img {
  min-width: 100%;
}
.header__pc .contact {
  display: flex;
  flex-direction: row;
}
.header__pc .contact .vl {
  margin-top: 10px;
}
.header__pc .navigation {
  display: flex;
  flex-direction: row;
}
.header__pc .navigation .vl {
  margin-top: 13px;
}
.header__pc .navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__pc .navigation__item a {
  color: #3F4E65;
  padding: 10px;
}
.header__pc .nav {
  padding: 24px 14vw;
  border-top: 1px solid rgba(63, 78, 101, 0.2);
  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__pc .nav__img {
  position: relative;
  height: 60px;
  width: 70px;
}
.header__pc .nav__img img {
  position: absolute;
  top: -22px;
}
@media (max-width: 1450px) {
  .header__pc .head {
    align-items: center;
    justify-content: center;
  }
  .header__pc .main_logo, .header__pc .nav__img, .header__pc .input, .header__pc .contact {
    display: none;
  }
}
@media (max-width: 950px) {
  .header__pc {
    display: none;
  }
}

@media (max-width: 950px) {
  .header {
    position: sticky;
    overflow: hidden;
  }
}

/*# sourceMappingURL=Header.module.css.map */
