@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  text-decoration: none;
  list-style-type: none;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: none !important;
}
* a {
  color: #3F4E65;
}
* input::-webkit-outer-spin-button, * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  display: flex;
}
.input input {
  width: 263px;
  height: 50px;
  display: block;
  padding: 9px 45px 9px 20px;
  border: 0;
  border-radius: 50px;
  background-color: #E5E5E5;
}
.input input::placeholder {
  color: #bbb;
}
.input button {
  height: 100%;
  border: 0;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 200, 94, 0.96);
}

.btn__text {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 20px 30px;
  border-radius: 100px;
  background: rgba(255, 200, 94, 0.96);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.btn__text span {
  color: #FFFFFF;
}
.btn__text:hover {
  background: rgba(255, 208, 94, 0.96);
}
.btn__text:hover svg {
  transform: translateX(5px);
}
.btn__text svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.btn__text:active {
  transform: scale(0.95);
}

.btn__cart {
  cursor: pointer;
  display: flex;
  border: 0;
  background-color: #FFFFFF;
}
.btn__cart .btn__indicator {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 200, 94, 0.96);
  color: #FFFFFF;
  position: relative;
  margin-top: -8px;
  margin-left: -15px;
  padding: 12px;
  width: 10px;
  height: 10px;
}

.vl {
  display: flex;
  margin-top: 7px;
  border-left: 2px dotted rgba(63, 78, 101, 0.1);
  height: 30px;
}

.hl {
  display: flex;
  margin-top: 7px;
  border-top: 2px dotted rgba(63, 78, 101, 0.1);
  width: 80%;
}

a:visited {
  color: #3F4E65;
}

li a, strong p, li a:visited {
  color: #3F4E65;
}

strong {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130.02%;
}

.contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}
.contact__container p {
  padding: 0 10px;
}

.header {
  background-color: #FFFFFF;
}

.cart {
  display: flex;
  flex-direction: row;
}

.menu__open {
  display: none;
}

.head {
  padding: 0 16vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input button {
  padding: 8px;
  width: 34px;
  margin-top: -42px;
  margin-left: 217px;
  min-width: 10px;
}
.input button img {
  min-width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
}
.contact .vl {
  margin-top: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
}
.navigation .vl {
  margin-top: 13px;
}
.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 24px 16vw;
  border-top: 1px solid rgba(63, 78, 101, 0.2);
  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__img {
  position: relative;
  height: 60px;
  width: 70px;
}
.nav__img img {
  position: absolute;
  top: -22px;
}

.col {
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
  .main_logo {
    padding: 0 10px;
  }
  .head {
    display: none;
  }
  .col {
    display: none;
  }
  .menu__open {
    margin-right: 30px;
    display: flex;
    background-color: rgba(255, 200, 94, 0.96);
    align-items: center;
    border: 0;
    border-radius: 50px;
    padding: 15px;
  }
  .cart {
    margin-left: 25px;
  }
  .cart img {
    width: 20px;
  }
  .nav {
    display: flex;
    justify-content: space-around;
  }
  .mobile {
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
    color: #3F4E65;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .mobile hr {
    width: 30px;
    height: 0;
    rotate: 90deg;
    border: 1px dotted rgba(63, 78, 101, 0.1);
  }
  .mobile__img {
    min-width: 15px;
  }
  .mobile__img g {
    fill: #FFFFFF;
  }
  .mobile__img path {
    stroke: #3F4E65;
    stroke-width: 1px;
  }
  .mobile .vl {
    display: flex;
    margin-top: 7px;
    border-left: 1px dotted rgba(63, 78, 101, 0.1);
    height: 30px;
  }
  .mobile__link {
    display: flex;
    align-items: center;
    padding: 13px 55px;
  }
  .mobile__link p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
  }
  .mobile__btn {
    justify-content: center;
    width: 100%;
    color: #3F4E65;
    display: flex;
    align-items: center;
  }
  .mobile__btn img {
    width: 30px;
  }
}

/*# sourceMappingURL=Header.module.css.map */
