@import '../styles/styles'

.footer
  font-style: normal
  font-weight: 400
  font-size: 1rem
  line-height: 150%
  margin-top: 30px
  overflow: hidden
  padding: 70px $padding
  background-color: $gray
  color: $white
  display: flex
  flex-direction: row
  justify-content: space-between
  .input
    margin-top: 10px
    button
      margin-top: 5px
      margin-left: -45px
      height: 40px
      width: 40px
      z-index: 1

      svg
        height: 12px
        width: 12px

  .btn__text
    justify-content: center
    .mobile
      display: none!important
  &__logo
    display: flex
    flex-direction: row
  .middle
    display: flex
    flex-direction: row


  .col
    margin: 0 20px
    h3
      margin: 25px 0

  .link
    color: $white
    font-style: normal
    font-weight: 400
    font-size: 0.8rem
    line-height: 150%
  .logo
    width: 160px
  .logos
    display: flex
    flex-direction: row
    justify-content: flex-start
    img
      height: 39px
      margin-top: 10px
      margin-right: 5px

  .long
    max-width: 240px
    font-style: normal
    font-weight: 400
    font-size: 0.8rem
    line-height: 150%
    margin-bottom: 20px

  h3
    white-space: nowrap
    font-style: normal
    font-weight: 600
    font-size: 1.2rem
    line-height: 150%

  &__call
    white-space: nowrap
    display: flex
    flex-direction: column
    justify-content: flex-end
    line-height: 130%
    &__item
      white-space: nowrap
      font-weight: 600
      font-size: 0.9rem
    p
      font-weight: 300
      font-size: 0.8rem
    a
      color: $white
      font-weight: 300
      font-size: 0.8rem
      cursor: pointer
      text-decoration: underline

  @media (max-width: $mobile)

    padding: 10px 15px
    display: flex
    flex-direction: column
    &__call
    .btn__text
      padding: 5px 20px
    .col
      max-width: 500px
    &__calls
      justify-content: space-between
      display: flex
      flex-direction: row
    &__logo
      justify-content: space-between
    .middle
      justify-content: space-between
      flex-wrap: wrap
