@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  text-decoration: none;
  list-style-type: none;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: none !important;
}
* a {
  color: #3F4E65;
}
* input::-webkit-outer-spin-button, * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  display: flex;
}
.input input {
  width: 263px;
  height: 50px;
  display: block;
  padding: 9px 45px 9px 20px;
  border: 0;
  border-radius: 50px;
  background-color: #E5E5E5;
}
.input input::placeholder {
  color: #bbb;
}
.input button {
  height: 100%;
  border: 0;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 200, 94, 0.96);
}

.btn__text {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 20px 30px;
  border-radius: 100px;
  background: rgba(255, 200, 94, 0.96);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.btn__text span {
  color: #FFFFFF;
}
.btn__text:hover {
  background: rgba(255, 208, 94, 0.96);
}
.btn__text:hover svg {
  transform: translateX(5px);
}
.btn__text svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.btn__text:active {
  transform: scale(0.95);
}

.btn__cart {
  cursor: pointer;
  display: flex;
  border: 0;
  background-color: #FFFFFF;
}
.btn__cart .btn__indicator {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 200, 94, 0.96);
  color: #FFFFFF;
  position: relative;
  margin-top: -8px;
  margin-left: -15px;
  padding: 12px;
  width: 10px;
  height: 10px;
}

.vl {
  display: flex;
  margin-top: 7px;
  border-left: 2px dotted rgba(63, 78, 101, 0.1);
  height: 30px;
}

.hl {
  display: flex;
  margin-top: 7px;
  border-top: 2px dotted rgba(63, 78, 101, 0.1);
  width: 80%;
}

.footer {
  overflow: hidden;
  padding: 70px 10vw;
  background-color: #3F4E65;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 160px;
}

.promo__img {
  width: 70px;
  margin: 5px;
}

.long {
  max-width: 300px;
}

.col {
  max-width: 10vw;
  display: flex;
  flex-direction: column;
}
.col h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.row {
  display: flex;
  flex-direction: row;
}

.link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 730px) {
  .footer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  .col {
    max-width: 500px;
  }
}

/*# sourceMappingURL=Footer.module.css.map */
