@import '../styles/vars'
@import '../styles/fonts'
@import '../styles/styles'



.filters
  margin-bottom: 30px
  display: flex
  flex-direction: column
  width: 100%
  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
  h2
    font-style: normal
    font-weight: 500
    font-size: 3rem
    line-height: 120%
    text-transform: uppercase
  .categories
    &__row
      display: flex
      flex-direction: row
      justify-content: space-between
    &__card
      color: $gray
      cursor: pointer
      border: 0
      background-color: $white
      padding: 7px
      height: 70px
      max-width: 140px
      font-weight: 400
      font-size: 0.8rem
      line-height: 130%
      text-align: center
      border-radius: 10px
      box-shadow: 0 3px 10px 0 #f0f0f0
  .type__current
    background-color: rgba($yellow, 0.25)
    border-radius: 5px
    box-shadow: none
  .sort
    cursor: pointer
    color: $gray
    font-weight: 400
    font-size: 16px
    line-height: 150%
    padding: 10px
    background-color: #FAFCFD
    border: 3px solid transparent
  .small
    font-weight: 500
    font-size: 1rem
    line-height: 150%
  @media (max-width: $mobile)
    flex-direction: column-reverse
    .categories__row
      display: none

