@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/inter");
* {
  font-family: "Inter", sans-serif;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*:focus {
  outline: none !important;
}
* a {
  color: inherit;
}
* input::-webkit-outer-spin-button, * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}

svg {
  min-width: 4px;
  min-height: 4px;
}
svg path {
  fill: child;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 950px) {
  .row {
    flex-direction: column;
  }
}

.amount {
  cursor: pointer;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 10px;
  border: 0;
  width: 34px;
  height: 23px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3F4E65;
}
.amount__value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
}
.input input {
  width: 263px;
  height: 50px;
  display: block;
  padding: 9px 45px 9px 20px;
  border: 0;
  border-radius: 50px;
  background-color: #E5E5E5;
}
.input input::placeholder {
  color: #bbb;
}
.input button {
  height: 100%;
  border: 0;
  border-radius: 50px;
  position: relative;
  background-color: rgba(255, 200, 94, 0.96);
}

img {
  min-height: 50px !important;
  min-width: 50px !important;
  overflow: scroll;
}

.btn__text {
  color: #FFFFFF;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  white-space: nowrap;
  padding: 10px;
  border-radius: 80px;
  background: rgba(255, 200, 94, 0.96);
  border: 0;
  display: flex;
  align-items: center;
}
.btn__text span {
  color: #FFFFFF;
  margin: 10px;
}
.btn__text:hover {
  background: rgba(255, 208, 94, 0.96);
}
.btn__text:hover svg {
  transform: translateX(5px);
}
.btn__text svg {
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.btn__text:active {
  transform: scale(0.95);
}

.btn__img {
  margin: 10px;
  padding: 10px;
  cursor: pointer !important;
  border: 0;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 200, 94, 0.96);
  height: 39px;
  width: 39px;
  align-items: center;
  justify-content: center;
}
.btn__img img {
  min-height: 12px;
  min-width: 12px;
}

.btn__cart {
  cursor: pointer;
  display: flex;
  border: 0;
  background-color: #FFFFFF;
}

.btn__indicator {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 200, 94, 0.96);
  color: #FFFFFF;
  position: relative;
  margin-top: -7px;
  margin-left: -12px;
  padding: 12px;
  width: 10px;
  height: 10px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.breadcrumbs .vl {
  height: 15px;
  margin: 0 13px;
}
.breadcrumbs .breadcrumb {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 120%;
  color: #3F4E65;
}
.breadcrumbs .active {
  color: rgba(63, 78, 101, 0.5);
}
@media (max-width: 950px) {
  .breadcrumbs .breadcrumb {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  .breadcrumbs .breadcrumb span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    margin-left: 10px;
  }
  .breadcrumbs .breadcrumb .arrow {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 200, 94, 0.2);
  }
  .breadcrumbs .breadcrumb .arrow svg {
    width: 10px;
    height: 10px;
  }
  .breadcrumbs .breadcrumb .arrow svg path {
    fill: #3F4E65;
  }
}

.vl {
  display: flex;
  margin-top: 7px;
  border-left: 2px dotted rgba(63, 78, 101, 0.1);
  height: 30px;
}

.hl {
  display: flex;
  margin-top: 7px;
  border-top: 2px dotted rgba(63, 78, 101, 0.1);
  width: 80%;
}

.mobile {
  display: none;
}
@media (max-width: 950px) {
  .mobile {
    display: inherit;
  }
}

.pc {
  display: inherit;
}
@media (max-width: 950px) {
  .pc {
    display: none;
  }
}

.admin {
  min-height: 50vh;
  padding: 0 14vw;
}
.admin .btn__open {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 24px;
}
.admin .btn {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  min-width: 100px;
}
.admin .open {
  background-color: rgb(110, 147, 238) !important;
}
.admin .close {
  background-color: rgb(119, 238, 110) !important;
}
.admin .delete {
  background-color: rgb(238, 110, 110) !important;
}
.admin .add {
  display: flex;
  flex-direction: column;
}
.admin .add p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin .add input {
  font-size: 12px;
  margin: 5px;
  max-width: 400px;
  border: 1px solid rgb(110, 147, 238);
  border-radius: 10px;
  padding: 10px;
}
.admin .img__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin .img__container img {
  max-height: 250px;
}
.admin .checks {
  display: flex;
  flex-direction: column;
}
.admin .checks .inner {
  max-width: 400px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(110, 147, 238);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.admin .checks .inner input {
  margin-right: 5px;
}
.admin__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 1600px) {
  .admin__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1220px) {
  .admin__grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
.admin__card {
  padding: 10px;
  border: 1px solid rgb(110, 147, 238);
  border-radius: 15px;
}
.admin__card img {
  height: 200px;
}
.admin__card .btns {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=Admin.module.css.map */
